body {
    background-color: #C34271;
    text-align: center;
    background-image: url("../images/600x600bf\ copy.png");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}

#BritneyTitle {
    padding-top: 40px;
}

.header {
    padding-top: 50px;
}

#header {
    color: #ffffff;
    font-style: bold;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3PX;
    font-size: 40px;
    margin-top: 50px;

}

#description {
    color: #f19ecd;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2PX;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.container {
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1PX;
    font-size: 18px;
}

li {
    padding-top: 32px;
    margin-bottom:32px;
}

#board {
    color: #ffffff;
}
.scoreBoard {
    list-style: none;
}

.break{
    display:block;
    margin:0 0 1em;
}
